.fxm-cart {
  &__actions {
    width: 100%;
    // display: flex;
    @include clearfix;
  }

  &__coupon {
    @include flex-children(baseline, space-between);
    max-width: rem(460);
    width: 100%;

    .fxm-form__field {
      margin-bottom: 0;
    }
  }

  &__update {
    float: right;
  }

  &__collaterals {
    width: 100%;
    max-width: rem(620);
    margin: rem(50) auto 0;
  }
}
